{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
%}
<div class="about-container container">
    <div class="about">
        <h1 class="about-h1">About Us</h1>

        <p>
            Bookcase Database is your go-to web application for book organization and exploration. 
            With our user-friendly interface, you can effortlessly craft personalized virtual bookcases, 
            tailored to your unique interests and reading habits. Whether you're an avid reader, a 
            collector of diverse interests, or simply seeking to streamline your reading list, Bookcase 
            Database empowers you to curate specialized book collections and import new titles seamlessly 
            through the Google Books API. 
        </p>
        <p>Dive deeper into your reading experience by customizing book details, 
            assigning ratings, and jotting down personal notes, transforming your bookcases into dynamic 
            digital companions. Embark on a literary adventure where every book has its place and every 
            interest finds its expression.
        </p>

        <p>
        As it currently stands, bc.db does not bring anything new to the
        table, but stay tuned for exciting new features in the near future. 
        </p>
        <ul class="about-ul">
            <li>
            <span class="bold-menu">Image Recognition Automatic Uploads: </span>Upload photos of
            your own bookshelf and watch as the books are automatically added to your bookcase.
            </li>
            <li>
            <span class="bold-menu">Personal Recommendations: </span>Tired of spending too much time 
            deciding what to read and not nearly enough time actually reading? Bookcase Database will 
            do the legwork for you and keep a constantly updated recommendation list.
            </li>
            <li>
            <span class="bold-menu">Chat with Your Favorite Characters: </span>Ever wonder what it 
            would be like to have a chat with your favorite characters from your favorite books or the 
            authors who wrote them? Bookcase Database will make that dream a reality! 
            </li>
            <li>
            <span class="bold-menu">Data Exporting and Seamless Integration with Other Applications: </span> 
            Bookcase Database will allow you to export your data to other applications, such as Excel, and 
            will also allow you to import data from other applications into your bookcase.
            </li>
        </ul>
        <p>
        If you want to learn more about the process of creating this project, I made this page that details 
        all the steps of the journey. You can find it <a class="github" href="https://mypetlobster.github.io/bookcase-process/">here</a>.
        </p>
        <p>
        The source code for this project can be found on GitHub 
        <a class="github" href="https://github.com/mypetlobster/bookcase-database">here</a>.
        </p>
    </div>
</div>
{% endblock %}
