<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <title>{% block title%}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script
      src="{{ url_for('static', filename='js/scripts.js') }}"
      defer
    ></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon_io/site.webmanifest">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&family=Courier+Prime:wght@400;700&family=Kalnia:wght@400;600;700&family=Laila:wght@400;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="/home" class="active" id="bcdb-logo">bc.db</a>
      {% if user.is_authenticated %}
      <a href="/profile">Profile</a>
      <a href="/bookcases">Bookcases</a>
      <a href="/search">Search</a>
      <a href="/logout">Logout</a>
      <a href="/about">About</a>
      {% else %}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <a href="/about">About</a>
      {% endif %}
      <a href="javascript:void(0);" class="icon" id="hamburger">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    <div class="beta-banner">
      <p>BC.DB is currently in beta. Bugs or suggestions? <a class="email-team" href="mailto:admin@bookcasedatabase.com?subject=bugs">Send me an email!</a></p>
    </div>


    <div class="spacer-div"></div>

    {% with messages = get_flashed_messages(with_categories=True) %}

    {% if messages %}
      <div id="flash-container">
      {% for category, message in messages %} {% if category == "error" %}
        <div class="flash-alerts danger" role="alert">
          {{ message }}
        </div>
        {% else %}
        <div class="flash-alerts success" role="alert">
          {{ message }}
        </div>
      </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %} {% block content %}{%
    endblock %}

<footer id="footer" class="footer-hidden">
    {% if user.is_authenticated %}
    <a href="/home">Home</a>
    <a href="/profile">Profile</a>
    <a href="/bookcases">Bookcases</a>
    <a href="/search">Search</a>
    <a href="/about">About</a>
    {% else %}
    <a href="/home">Home</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/about">About</a>
    {% endif %}
</footer>

    <script>
    const topNav = document.getElementById("myTopnav");
    const anchorTags = document.querySelectorAll("#myTopnav a");
    const bcdbLogo = document.getElementById("bcdb-logo");
    const footer = document.getElementById("footer");
    const betaBanner = document.querySelector(".beta-banner");

    // Function to check if the footer should be visible
    function checkFooterVisibility() {
      const windowHeight = window.innerHeight;
      const documentHeight = Math.max(
        document.body.scrollHeight,
        document.body.offsetHeight,
        document.documentElement.clientHeight,
        document.documentElement.scrollHeight,
        document.documentElement.offsetHeight
      );

      if (windowHeight + window.scrollY >= documentHeight) {
        footer.classList.add("footer-visible");
      } else {
        footer.classList.remove("footer-visible");
      }
    }

    // Listen for scroll events and window resize
    window.addEventListener("scroll", checkFooterVisibility);
    window.addEventListener("resize", checkFooterVisibility);

    // Initially check footer visibility on page load
    checkFooterVisibility();



    window.onscroll = function () {
      if (window.pageYOffset > 0) {
        betaBanner.classList.add("beta-solid-bg")
        topNav.classList.add("solid-bg");
        bcdbLogo.classList.add("remove-border-radius");
        anchorTags.forEach((anchor) => {
          anchor.classList.add("white-font");
        });
      } else {
        topNav.classList.remove("solid-bg");
        betaBanner.classList.remove("beta-solid-bg");
        bcdbLogo.classList.remove("remove-border-radius");
        anchorTags.forEach((anchor) => {
          anchor.classList.remove("white-font");
        });
      }
    };


    const burger = document.getElementById("hamburger");
    burger.addEventListener("click", () => {
      if (topNav.className === "topnav") {
        betaBanner.classList.add("beta-hidden");
        topNav.className += " responsive";
        topNav.scrollIntoView({ behavior: 'smooth' });
      } else if (topNav.className === "topnav solid-bg") {
        betaBanner.classList.add("beta-hidden");
        topNav.className = "topnav responsive";
        topNav.scrollIntoView({ behavior: 'smooth' });
      }
      else {
        betaBanner.classList.remove("beta-hidden");
        topNav.className = "topnav";
      }
    });

    bcdbLogo.addEventListener("click", () => {
      if (topNav.className === "topnav responsive") {
        topNav.className = "topnav";
        betaBanner.classList.remove("beta-hidden");
        bcdbLogo.removeAttribute("href");
      }
      else {
        bcdbLogo.setAttribute("href", "/home");
      }
    });


    const flashContainer = document.getElementById('flash-container');
    if (flashContainer) {
      const flashMessages = flashContainer.getElementsByClassName('flash-alerts');

      // Adjust the timeout value as needed (e.g., 3000 milliseconds for 3 seconds)
      const timeout = 3000;

      // Close each flashed message after the timeout
      Array.from(flashMessages).forEach((message) => {
          setTimeout(() => {
              message.style.display = 'none';
          }, timeout);
      });
    }
    </script>
  </body>
</html>
