<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script
      src="{{ url_for('static', filename='js/scripts.js') }}"
      defer
    ></script>
  </head>
  <body>
    <div class="topnav" id="myTopnav">
      <a href="/home" class="active" id="bcdb-logo">bc.db</a>
      {% if user.is_authenticated %}
      <a href="/profile">Profile</a>
      <a href="/bookcases">Bookcases</a>
      <a href="/search">Search</a>
      <a href="/logout">Logout</a>
      <a href="/about">About</a>
      {% else %}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <a href="/about">About</a>
      {% endif %}
      <a href="javascript:void(0);" class="icon">
        <i class="fa fa-bars"></i>
      </a>
    </div>
    
    <div class="spacer-div"></div>

    {% with messages = get_flashed_messages(with_categories=True) %}
    
    {% if messages %} 
      <div id="flash-container">
      {% for category, message in messages %} {% if category == "error" %}
        <div class="flash-alerts danger" role="alert">
          {{ message }}
        </div>
        {% else %}
        <div class="flash-alerts success" role="alert">
          {{ message }}
        </div>
      </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %} {% block content %}{%
    endblock %}
    <script>
    const topNav = document.getElementById("myTopnav");
    const anchorTags = document.querySelectorAll("#myTopnav a");
    const bcdbLogo = document.getElementById("bcdb-logo");
   
    window.onscroll = function () {
      if (window.pageYOffset > 0) {
        topNav.classList.add("solid-bg");
        bcdbLogo.classList.add("remove-border-radius");
        anchorTags.forEach((anchor) => {
          anchor.classList.add("white-font");
        });
      } else {
        topNav.classList.remove("solid-bg");
        bcdbLogo.classList.remove("remove-border-radius");
        anchorTags.forEach((anchor) => {
          anchor.classList.remove("white-font");
        });
      }
    };

    const flashContainer = document.getElementById('flash-container');
    if (flashContainer) {
      const flashMessages = flashContainer.getElementsByClassName('flash-alerts');

      // Adjust the timeout value as needed (e.g., 3000 milliseconds for 3 seconds)
      const timeout = 3000;

      // Close each flashed message after the timeout
      Array.from(flashMessages).forEach((message) => {
          setTimeout(() => {
              message.style.display = 'none';
          }, timeout);
      });
    }
    </script>
  </body>
</html>
