{% extends "base.html" %}
{% block title %}Bookcase{% endblock %}
{% block content %}

<div class="bookcase-page">
    <h1>Bookcase</h1>
    <div class="books-collection">
        <div class="book-in-collection">
            <p>Title: Other Minds</p>
            <p>Author: Peter Godfrey-Smith</p>
            <p>ISBN: 120432532636</p>
            <p>Genre: Science</p>
            <p>Year: 2016</p>
            <p>Pages: 272</p>
            <p>Your Rating: 4</p>
            <p>Goodreads Rating: 4.5</p>
            <p>Read: Yes</p>
        </div>
        <div class="book-in-collection">
            <p>Title: Other Minds</p>
            <p>Author: Peter Godfrey-Smith</p>
            <p>ISBN: 120432532636</p>
            <p>Genre: Science</p>
            <p>Year: 2016</p>
            <p>Pages: 272</p>
            <p>Your Rating: 4</p>
            <p>Goodreads Rating: 4.5</p>
            <p>Read: Yes</p>
        </div>

    </div>
    <div class="manual-add-book">
        <form action="/bookcase/" method="post">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="Title" required>
            <label for="author">Author</label>
            <input type="text" name="author" id="author" placeholder="Author" required>
            <label for="isbn">ISBN</label>
            <input type="text" name="isbn" id="isbn" placeholder="ISBN">
            <label for="genre">Genre</label>
            <input type="text" name="genre" id="genre" placeholder="Genre">
            <label for="year">Year</label>
            <input type="text" name="year" id="year" placeholder="Year">
            <label for="pages">Pages</label>
            <input type="text" name="pages" id="pages" placeholder="Pages">
            <label class="rating-label"><strong>Rating</strong>
            <input
                class="rating"
                max="5"
                oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                step="0.5"
                style="--value:2.5"
                type="range"
                value="2.5">
            </label>
            <label for="read">Read?</label>
            <input type="checkbox" name="read" id="read">
            <input type="submit" value="Add Book">
        </form>
    </div>

</div>

{% endblock %}