{% extends "base.html" %}
{% block title %}Book{% endblock %}
{% block content %}
<h1>Book</h1>
<div class="book">
    <div class="book-cover">
        <img src="{{ book.thumbnail_link }}" alt="{{ book.title }} Cover">
    </div>
    <div class="book-info">
        <h2>{{ book.title }}</h2>
        <h4>{{ book.subtitle }}</h4>  
        <h3>{{ book.authors }}</h3>
        <p class="description">{{ book.description }}</p>
        <p>Categories: {{ book.categories }}</p>
        <p>Publisher: {{ book.publisher }}</p>
        <p>Publication Date: {{ book.publication_date }}</p>
        <p>Language: {{ book.language }}</p>
        <p>Pages: {{ book.pages }}</p>
        <p>Google Books Rating: {{ book.google_books_rating }}</p>
        <p>ISBN_10: {{ book.isbn_10 }}</p>
        <p>ISBN_13: {{ book.isbn_13 }}</p>
        <p>Your Rating: {{ book.user_rating }}</p>
        <p>Read: {{ book.read }}</p>
        <p>THUMBNAIL LINK: {{ book.thumbnail_link }}</p>
        
        <div class="book-buttons">
            <a href="/bookcase/{{ current_bookcase.id }}/edit-book/{{ book.id }}/">Edit</a>
            <a href="/bookcase/{{ current_bookcase.id }}/delete-book/{{ book.id }}/">Delete</a>
        </div> 
    </div>
{% endblock %}