{% extends "base.html" %} {% block title %}Book Details{% endblock %} {% block content
%}
<div class="med-spacer"></div>
<div class="book-page">
  <form class="search-book-form" action="/search/" method="post">
    <input type="hidden" name="author" id="author"/>
  </form>

  <div class="back-to-bc-container">
    <a class="back-to-bc-link" href="/bookcase/{{ current_bookcase.id }}/">&larr; Back to '{{ current_bookcase.name }}' Bookcase</a>
  </div>

  <div class="book-cover">
    {% if book.thumbnail_link == "" %}
    <img
      class="book-page-img"
      src="/static/images/image_not_available.jpeg"
      alt="Image Not Available"
    />
    {% else %}
    <img class="book-page-img" src="{{ book.thumbnail_link }}" alt="{{ book.title }} Cover" />
    {% endif %}
  </div>
  <div class="book-info">
    <h2>{{ book.title }}</h2>
    <h4>{{ book.subtitle }}</h4>

    <h3 class="author-results">
      {% for author in book.authors.split(', ') %} 
        <a class="author-link" href="/search/?author={{ author }}">{{ author }}</a>
        {% if not loop.last %},{% endif %}
      {% endfor %}
    </h3>

    <p class="description-truncated description-truncated-active">{{ book.description_truncated }}</p>
    <p class="description description-inactive">{{ book.description }}</p>
    <p><span class="bold-menu">Categories:</span> {{ book.categories }}</p>
    <p><span class="bold-menu">Publisher:</span> {{ book.publisher }}</p>
    <p><span class="bold-menu">Publication Date:</span> {{ book.publication_date }}</p>
    <p><span class="bold-menu">Language:</span> {{ book.language }}</p>
    <p><span class="bold-menu">Pages:</span> {{ book.pages }}</p>
    <p><span class="bold-menu">Google Books Rating:</span> {{ book.google_books_rating }}</p>
    <p><span class="bold-menu">ISBN_10:</span> {{ book.isbn_10 }}</p>
    <p><span class="bold-menu">ISBN_13:</span> {{ book.isbn_13 }}</p>
    <p><span class="bold-menu">Your Rating:</span> {{ book.user_rating }}</p>
    <p><span class="bold-menu">Notes:</span> {{ book.user_notes }}</p>
    <p>
    {% if book.read %}
      <p><span class="bold-menu">Read:</span> Yes</p>
    {% else %}
      <p><span class="bold-menu">Read:</span> No</p>
    {% endif %}
    

    <div class="book-buttons">
          <a
            class="small-link"
            href="/bookcase/{{ current_bookcase.id }}/{{ book.id }}/edit_book/"
            >Edit Book Details</a
          >
          <a
            class="small-link"
            href="/bookcase/{{ current_bookcase.id }}/{{ book.id }}/delete_book/"
            >Delete Book</a
          >
        </div>
  </div>
  <div class="half-spacer-div"></div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
      const authorLinks = document.querySelectorAll(".author-results a");
      authorLinks.forEach(function (link) {
        link.addEventListener("click", function (event) {
          event.preventDefault();
          const authorName = link.textContent;
          // Update the 'author' input field in the outer form
          document.querySelector("#author").value = authorName;
          // Submit the outer form
          document.querySelector(".search-book-form").submit();
        });
      });
    });




  const descriptionTruncated = document.querySelector(".description-truncated");
  const description = document.querySelector(".description");

  descriptionTruncated.addEventListener("click", () => {
    descriptionTruncated.classList.remove("description-truncated-active");
    descriptionTruncated.classList.add("description-truncated-inactive");
    description.classList.remove("description-inactive");
    description.classList.add("description-active");
  });

  description.addEventListener("click", () => {
    description.classList.remove("description-active");
    description.classList.add("description-inactive");
    descriptionTruncated.classList.remove("description-truncated-inactive");
    descriptionTruncated.classList.add("description-truncated-active");
  });

</script>


{% endblock %}
