{% extends "base.html" %} {% block title %}Bookcase{% endblock %} {% block
content %}
<div class="med-spacer"></div>
<div class="bookcase-page">
  <h1>{{ current_bookcase.name }}</h1>

  <form
    class="sort-by-form"
    action="/bookcase/{{ current_bookcase.id }}/sort/"
    method="post"
  >
    <input type="hidden" name="sort-by" id="sortby" value="" />
    <input
      type="hidden"
      name="sort-by-direction"
      id="sort-by-direction"
      value=""
    />
  </form>


  <div class="sort-by-container">
    <p class="bold-menu" id="sort-by-header">Sort By:</p>
    <p class="title-sort">
      <span id="title-down-arrow" class="down-arrow">&darr;</span>
      <span id="title-up-arrow" class="up-arrow">&uarr;
        </span> Title</p>                 
    <p class="author-sort">
      <span id="author-down-arrow" class="down-arrow">&darr;</span>
      <span id="author-up-arrow" class="up-arrow">&uarr;
      </span> Author</p>
  </div>

  <div class="books-collection">
    {% for book in current_bookcase.books %}
    <div class="books-in-container">
      <div class="book-cover">
        <a href="/bookcase/{{ current_bookcase.id }}/{{ book.id }}/">
          {% if book.thumbnail_link == "" %}
          <img
            class="book-cover-img"
            src="/static/images/image_not_available.jpeg"
            alt="Image Not Available"
          />
          {% else %}
          <img
            class="book-cover-img"
            src="{{ book.thumbnail_link }}"
            alt="{{ book.title }} Cover"
          />
          {% endif %}
        </a>
      </div>
      <div class="book-info">
        <h2>{{ book.title }}</h2>
        <h3>{{ book.authors }}</h3>
        <p>{{ book.description_truncated }}</p>
        <p>
          <span class="bold-menu">Published:</span> {{ book.publication_date }}
        </p>
        <p><span class="bold-menu">Genres:</span> {{ book.categories }}</p>
        <p>
          <span class="bold-menu">Google Books Rating:</span> {{
          book.google_books_rating }}
        </p>
        <p>
          <span class="bold-menu">Your Rating:</span> {{ book.user_rating }}
        </p>
        <!-- Add a checkbox for "Read: ". Leave unchecked if book.read is False and add checkmark if True -->
        {% if book.read %}
        <p><span class="bold-menu">Read:</span> Yes</p>
        {% else %}
        <p><span class="bold-menu">Read:</span> No</p>
        {% endif %}
        <a
          class="med-link"
          href="/bookcase/{{ current_bookcase.id }}/{{ book.id }}/"
          >View Book Details</a
        >
        <div class="book-buttons">
          <a
            class="small-link"
            href="/bookcase/{{ current_bookcase.id }}/{{ book.id }}/edit_book/"
            >Edit Book Details</a
          >
          <a
            class="small-link"
            href="/bookcase/{{ current_bookcase.id }}/{{ book.id }}/delete_book/"
            >Delete Book</a
          >
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="back-to-bookcases">
      <a href="/bookcases/"></a>
    </div>
  </div>

  <div class="delete-bookcase-button-box">
    <button class="home-button delete-bookcase-button" type="button">
      Delete Bookcase
    </button>
  </div>

  <div class="edit-bookcase-button-box">
    <button class="home-button" id="edit-bookcase-button" type="button">
      Edit Bookcase Name
    </button>
  </div>

  <div class="edit-bookcase">
    <form
      class="edit-bookcase-form"
      action="/bookcase/{{ current_bookcase.id }}/edit_bookcase/"
      method="post"
    >
      <label id="bc-name-change-label" for="name">Bookcase Name:</label>
      <input
        type="text"
        name="name"
        id="name"
        value="{{ current_bookcase.name }}"
        required
      />
      <button class="home-button edit-book-save" type="submit">Save</button>
      <div class="container cancel-container cancel-add-book">
        <button type="button" id="cancel-edit-bookcase" class="cancelbtn">
          Cancel
        </button>
      </div>
    </form>
  </div>

  <div class="confirm-delete-bookcase">
    <h4 class="delete-h4">
      Are you sure you want to delete your
      <span class="bold-big">{{ current_bookcase.name }}</span> bookcase? This
      action cannot be undone!
    </h4>

    <a href="/bookcase/{{ current_bookcase.id }}/delete_bookcase/">
      <button class="home-button" type="button">Confirm Delete Bookcase</button>
    </a>
    <div class="container cancel-container cancel-add-book">
      <button type="button" id="delete-book-cancel-btn" class="cancelbtn">
        Cancel
      </button>
    </div>
  </div>

  <div class="searchbar bookcase-search">
    <div class="bc-search-form">
      <form action="/search/" class="bookcase-search-form" method="post">
        <label for="general-search">Search for a book!</label>
        <input
          type="text"
          placeholder="Search for books..."
          name="general-search"
          id="general-search"
          required
        />
        <button class="home-button" type="submit">Search</button>
      </form>
    </div>
  </div>
  <h2 id="manual-add-book-btn" class="item">Add Book Manually</h2>

  <button id="export-data-btn" class="home-button" type="button">
    Export Bookcase Data
  </button>

  <div id="form-anchor"></div>

  <div class="manual-add-book">
    <form
      class="manual-add-book-form"
      action="/bookcase/{{ id }}"
      method="post"
    >
      <label for="title">Title:</label>
      <input type="text" name="title" id="title" required />
      <label for="subtitle">Subtitle:</label>
      <input type="text" name="subtitle" id="subtitle" />
      <label for="authors">Author(s):</label>
      <input type="text" name="authors" id="authors" required />
      <label for="description">Description:</label>
      <textarea
        class="text-area"
        name="description"
        id="description"
        cols="30"
        rows="10"
      >
&nbsp;</textarea
      >
      <label for="categories">Genre(s):</label>
      <input type="text" name="categories" id="categories" />
      <label for="publisher">Publisher:</label>
      <input type="text" name="publisher" id="publisher" />
      <label for="publication_date">Publication Date:</label>
      <input type="text" name="publication_date" id="publication_date" />
      <label for="isbn_13" class="isbn">ISBN-13:</label>
      <input type="text" name="isbn_13" id="isbn_13" />
      <label for="isbn_10" class="isbn">ISBN-10:</label>
      <input type="text" name="isbn_10" id="isbn_10" />
      <label for="language">Language:</label>
      <input type="text" name="language" id="language" />
      <label for="page_count">Page Count:</label>
      <input type="text" name="page_count" id="page_count" />
      <label for="thumbnail_link">Thumbnail Link:</label>
      <input type="text" name="thumbnail_link" id="thumbnail_link" />
      <label for="user_notes">Notes:</label>
      <textarea
        class="text-area"
        name="user_notes"
        id="user_notes"
        cols="30"
        rows="10"
      ></textarea>
      <div class="user-rating-container">
        <label class="label-med" id="user_rating_label" for="user-rating"
          >Your Rating:</label
        >
        <input
          type="hidden"
          name="user_rating"
          id="ratingInput"
          value="0"
          data-rating="0"
        />
        <div class="star-container">
          <div class="star-group">
            <input
              type="radio"
              class="star"
              id="one"
              name="star_rating"
              data-value="1"
            />
            <input
              type="radio"
              class="star"
              id="two"
              name="star_rating"
              data-value="2"
            />
            <input
              type="radio"
              class="star"
              id="three"
              name="star_rating"
              data-value="3"
            />
            <input
              type="radio"
              class="star"
              id="four"
              name="star_rating"
              data-value="4"
            />
            <input
              type="radio"
              class="star"
              id="five"
              name="star_rating"
              data-value="5"
            />
          </div>
        </div>
      </div>
      <div class="horizontal-flex">
        <label for="read">Read:</label>
        <input
          class="checkbox"
          type="checkbox"
          name="read"
          id="read"
          value="False"
        />
      </div>
      <input type="hidden" name="bookcase_id" value="{{ id }}" />
      <button class="home-button edit-book-save" type="submit">Add Book</button>
      <div class="container cancel-container cancel-add-book">
        <button type="button" id="add-book-cancel-btn" class="cancelbtn">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>

<script>
  const titleSort = document.querySelector(".title-sort");
  const authorSort = document.querySelector(".author-sort");
  const sortByForm = document.querySelector(".sort-by-form");
  const sortBy = document.querySelector("#sortby");
  const sortByDirection = document.querySelector("#sort-by-direction");
  const titleDownArrow = document.querySelector("#title-down-arrow");
  const titleUpArrow = document.querySelector("#title-up-arrow");
  const authorDownArrow = document.querySelector("#author-down-arrow");
  const authorUpArrow = document.querySelector("#author-up-arrow");


  document.addEventListener("DOMContentLoaded", function () {
    // Check if directionSession is not set in sessionStorage
    if (!sessionStorage.getItem("directionSession")) {
      // Initialize it to "asc" if not set
      sessionStorage.setItem("directionSession", "asc");
    }

    // Check the status of the authorArrowDirection in sessionStorage
    if (sessionStorage.getItem("authorArrowDirection") == "up") {
      authorUpArrow.classList.add("arrow-active");
      authorSort.classList.add("bold-menu");
    } else if (sessionStorage.getItem("authorArrowDirection") == "down") {
      authorSort.classList.add("bold-menu");
      authorDownArrow.classList.add("arrow-active");
    }

    // Check the status of the titleArrowDirection in sessionStorage
    if (sessionStorage.getItem("titleArrowDirection") == "up") {
      titleUpArrow.classList.add("arrow-active");
      titleSort.classList.add("bold-menu");
    } else if (sessionStorage.getItem("titleArrowDirection") == "down") {
      titleDownArrow.classList.add("arrow-active");
      titleSort.classList.add("bold-menu");
    }

    titleSort.addEventListener("click", function () {
      let direction = sessionStorage.getItem("directionSession");
      sortBy.value = "title";
      if (direction == "asc") {
        sortByDirection.value = "desc";
        sessionStorage.setItem("titleArrowDirection", "down"); // Update title arrow direction
        sessionStorage.setItem("directionSession", "desc"); // Update sort direction
      } else {
        sortByDirection.value = "asc";
        sessionStorage.setItem("titleArrowDirection", "up"); // Update title arrow direction
        sessionStorage.setItem("directionSession", "asc"); // Update sort direction
      }
      sessionStorage.setItem("authorArrowDirection", "none"); // Reset title arrow direction
      sortByForm.submit();
    });

    authorSort.addEventListener("click", function () {
      let direction = sessionStorage.getItem("directionSession");
      sortBy.value = "author";
      if (direction == "asc") {
        sortByDirection.value = "desc";
        sessionStorage.setItem("authorArrowDirection", "down"); // Update author arrow direction
        sessionStorage.setItem("directionSession", "desc"); // Update sort direction
      } else {
        sortByDirection.value = "asc";
        sessionStorage.setItem("authorArrowDirection", "up"); // Update author arrow direction
        sessionStorage.setItem("directionSession", "asc"); // Update sort direction
      }
      sessionStorage.setItem("titleArrowDirection", "none"); // Reset author arrow direction
      sortByForm.submit();
    });
  });


  const deleteBookcaseButton = document.querySelector(
    ".delete-bookcase-button"
  );
  const confirmDeleteBookcase = document.querySelector(
    ".confirm-delete-bookcase"
  );
  const deleteBookCancelBtn = document.getElementById("delete-book-cancel-btn");
  deleteBookcaseButton.addEventListener("click", function () {
    confirmDeleteBookcase.classList.toggle("confirm-delete-bookcase-active");
  });
  deleteBookCancelBtn.addEventListener("click", function () {
    confirmDeleteBookcase.classList.toggle("confirm-delete-bookcase-active");
  });

  const manualAddBookAnchor = document.querySelector("#form-anchor");

  const manualAddBookBtn = document.querySelector("#manual-add-book-btn");
  const manualAddBook = document.querySelector(".manual-add-book");
  manualAddBookBtn.addEventListener("click", function () {
    manualAddBook.classList.toggle("manual-add-book-active");
    manualAddBookAnchor.scrollIntoView({ behavior: "smooth" });
  });

  const readCheckbox = document.querySelector("#read");
  readCheckbox.addEventListener("change", function () {
    if (readCheckbox.checked) {
      readCheckbox.value = "True";
    } else {
      readCheckbox.value = "False";
    }
  });

  document.addEventListener("click", function (event) {
    if (event.target.classList.contains("star")) {
      const selectedRating = event.target.getAttribute("data-value");
      document.getElementById("ratingInput").value = selectedRating;
    }
  });

  const addBookCancelBtn = document.getElementById("add-book-cancel-btn");
  if (addBookCancelBtn) {
    addBookCancelBtn.addEventListener("click", () => {
      manualAddBook.classList.toggle("manual-add-book-active");
    });
  }

  const editBookcaseButton = document.querySelector("#edit-bookcase-button");
  const editBookcase = document.querySelector(".edit-bookcase");
  const cancelEditBookcase = document.querySelector("#cancel-edit-bookcase");
  editBookcaseButton.addEventListener("click", function () {
    editBookcase.classList.toggle("edit-bookcase-active");
  });
  cancelEditBookcase.addEventListener("click", function () {
    editBookcase.classList.toggle("edit-bookcase-active");
  });

  const exportDataBtn = document.querySelector("#export-data-btn");
  // On hover, change button text to Coming Soon!
  exportDataBtn.addEventListener("mouseover", function () {
    exportDataBtn.textContent = "Coming Soon!";
  });
  exportDataBtn.addEventListener("mouseout", function () {
    exportDataBtn.textContent = "Export Bookcase Data";
  });
</script>

{% endblock %}
