{% extends "base.html" %} {% block title %}Bookcases{% endblock %} {% block
content %}
<div class="med-spacer"></div>
<div class="bookcases-page-container">
  <h1 class="bookcases-main-header">{{ user.username }}'s Bookcases</h1>

    <form
      class="bc-sort-by-form"
      action="/bookcases/sort/"
      method="post"
    >
    <input type="hidden" 
      name="bc-sort-by" 
      id="bc-sort-by" 
      value="" 
    />
    <input
      type="hidden"
      name="bc-sort-by-direction"
      id="bc-sort-by-direction"
      value=""
    />
  </form>

  <div class="sort-by-container">
    <p class="bold-menu" id="sort-by-header">Sort By:</p>
    <p class="name-sort">
      <span id="name-down-arrow" class="down-arrow">&darr;</span>
      <span id="name-up-arrow" class="up-arrow">&uarr;</span>
        Name
    </p>                 
    <p class="book-count-sort">
      <span id="book-count-down-arrow" class="down-arrow">&darr;</span>
      <span id="book-count-up-arrow" class="up-arrow">&uarr;</span>
        Book Count
    </p>
  </div>
  <div class="display-bookcases">
    {% for bookcase in bookcases %}
    <div class="bookcases-item" style="background-color: {{ color }}">

      <a href="/bookcase/{{ bookcase.id }}/">
        <h2 class="bc-header">{{ bookcase.name }}</h2>
      </a>
      <h2 class="close-gallery close-inactive">&#10006;</h2>
      <div class="very-small-gallery very-small-gallery-active">
        
        {% for book in bookcase.books %}
        <div class="very-small-img-div">
            {% if book.thumbnail_link == "" %}
            <img
              class="very-small-thumb"
              src="/static/images/image_not_available.jpeg"
              alt="{{ book.title }} Cover"
            />
            {% else %}
            <img
              class="very-small-thumb"
              src="{{ book.thumbnail_link }}"
              alt="{{ book.title }} Cover"
            />
            {% endif %}
        </div>
        {% endfor %}
      </div>

      <div class="gallery gallery-inactive">
        {% for book in bookcase.books %}
        <div class="img-div">
          <a href="/bookcase/{{ bookcase.id }}/{{ book.id }}/">
            {% if book.thumbnail_link == "" %}
            <img
              class="preview-thumbnail book-cover"
              src="/static/images/image_not_available.jpeg"
              alt="{{ book.title }} Cover"
            />
            {% else %}
            <img
              class="preview-thumbnail book-cover"
              src="{{ book.thumbnail_link }}"
              alt="{{ book.title }} Cover"
            />
            {% endif %}
          </a>
        </div>
        {% endfor %}
      </div>

    </div>
    {% endfor %}
  </div>

  <div class="bookcases-create-form">
    <form action="/bookcases/" method="post" class="create-bookcase">
      <label for="bookcase-name">Create New Bookcase</label>
      <input
        type="text"
        name="bookcase-name"
        id="bookcase-name"
        placeholder="Bookcase Name"
        required
      />
      <button class="home-button create-bookcase-btn" type="submit">
        Create Bookcase!
      </button>
    </form>
  </div>

  <div id="dynamic-description" class="dynamic-description-active">
    <h3 id="dynamic-header">Dynamic Bookcases</h3>
    <p>
      Dynamic Bookcases are bookcases that are automatically populated with
      books based on tags. First, add some tags (eg. #romance #favorites) to
      the Notes section of your books.  
    </p>
    <p>
      Then you can create a dynamic bookcase by entering tags in the form. 
      Your bookcase will be populated with books that have at least
      one of the entered tags.
    </p>
    <h3 id="dynamic-header-link">Give it a try!</h3>
  </div>

  <div id="dynamic-bookcase-container" class="dynamic-bookcase-container-inactive">
    <form action="/dynamic_bookcase/" method="post" class="dynamic-bookcase">
      <label for="dynamic-bookcase-name">Dynamic Bookcase Name:</label>
      <input
        type="text"
        name="dynamic-bookcase-name"
        id="dynamic-bookcase-name"
        placeholder="Bookcase Name"
        required
      />
      <label for="dynamic-tags">Enter Tags: </label>
      <input
        type="text"
        name="dynamic-tags"
        id="dynamic-tags"
        placeholder="#romance #fantasy #mystery"
        required
      />
      <div class="inclusive-tags-container">
        <label id="inclusive-tags-label" for="inclusive-tags">Inclusive Tags?</label>
        <input
          type="checkbox"
          name="inclusive-tags"
          id="inclusive-tags"
          value=""
        />
      </div>
      <button id="generate-bc-btn" class="home-button create-bookcase-btn" type="submit">
        Generate Bookcase!
      </button>
      <div class="explain-inclusive-container">
        <p id="explain-inclusive">
          <span class="bold-menu">Inclusive:</span> Box checked. Books must match all entered tags.
        </p>
        <p id="explain-inclusive">
          <span class="bold-menu">Exclusive:</span> Box unchecked. Books must only match one tag.
        </p>
      </div>
      <p id="close-dynamic">&#10006;</p>
    </form>
    
  </div>
  <div class="med-spacer"></div>

</div>



<script>
const explainInclusiveContainer = document.querySelector(".explain-inclusive-container");
const inclusiveTagsLabel = document.getElementById("inclusive-tags-label");
inclusiveTagsLabel.addEventListener("mouseover", () => {
  explainInclusiveContainer.classList.add("explain-inclusive-container-active");
});
inclusiveTagsLabel.addEventListener("mouseout", () => {
  explainInclusiveContainer.classList.remove("explain-inclusive-container-active");
});
inclusiveTagsLabel.addEventListener("touchstart", () => {
  explainInclusiveContainer.classList.add("explain-inclusive-container-active");
});
inclusiveTagsLabel.addEventListener("touchend", () => {
  explainInclusiveContainer.classList.add("explain-inclusive-container-active");
});

const inclusiveTags = document.getElementById("inclusive-tags");
inclusiveTags.addEventListener("click", () => {
  if (inclusiveTags.checked) {
    inclusiveTags.value = "inclusive";
  } else {
    inclusiveTags.value = "exclusive";
  }
});

const bcSortForm = document.querySelector(".bc-sort-by-form");
const nameSort = document.querySelector(".name-sort");
const bookCountSort = document.querySelector(".book-count-sort");

const bcSortBy = document.getElementById("bc-sort-by");
const sortDirection = document.getElementById("bc-sort-by-direction");

const nameDownArrow = document.getElementById("name-down-arrow");
const nameUpArrow = document.getElementById("name-up-arrow");
const bookCountDownArrow = document.getElementById("book-count-down-arrow");
const bookCountUpArrow = document.getElementById("book-count-up-arrow");


document.addEventListener("DOMContentLoaded", () => {
  if (!sessionStorage.getItem("directionSession")) {
    // Initialize it to "asc" if not set
    sessionStorage.setItem("directionSession", "asc");
  }

  /* Name Sort Arrows */
  if (sessionStorage.getItem("nameArrowDirection") == "up") {
    nameUpArrow.classList.add("arrow-active");
    nameSort.classList.add("bold-menu");
  } else if (sessionStorage.getItem("nameArrowDirection") == "down") {
    nameDownArrow.classList.add("arrow-active");
    nameSort.classList.add("bold-menu");
  }
 
  /* Book Count Sort Arrows */
  if (sessionStorage.getItem("bookCountArrowDirection") == "up") {
    bookCountUpArrow.classList.add("arrow-active");
    bookCountSort.classList.add("bold-menu");
  } else if (sessionStorage.getItem("bookCountArrowDirection") == "down") {
    bookCountDownArrow.classList.add("arrow-active");
    bookCountSort.classList.add("bold-menu");
  }

  /* ADD EVENT LISTENERS */
  /* Name Sort Event Listener */
  nameSort.addEventListener("click", () => {
    let direction = sessionStorage.getItem("directionSession");
    bcSortBy.value = "name";
    if (direction == "asc") {
      sortDirection.value = "desc";
      sessionStorage.setItem("nameArrowDirection", "down");
      sessionStorage.setItem("directionSession", "desc");
    } else {
      sortDirection.value = "asc";
      sessionStorage.setItem("nameArrowDirection", "up");
      sessionStorage.setItem("directionSession", "asc");
    }
    sessionStorage.setItem("bookCountArrowDirection", "none");
    bcSortForm.submit();
  });

  /* Book Count Sort Event Listener */
  bookCountSort.addEventListener("click", () => {
    let direction = sessionStorage.getItem("directionSession");
    bcSortBy.value = "book_count";
    if (direction == "asc") {
      sortDirection.value = "desc";
      sessionStorage.setItem("bookCountArrowDirection", "down");
      sessionStorage.setItem("directionSession", "desc");
    } else {
      sortDirection.value = "asc";
      sessionStorage.setItem("bookCountArrowDirection", "up");
      sessionStorage.setItem("directionSession", "asc");
    }
    sessionStorage.setItem("nameArrowDirection", "none");
    bcSortForm.submit();
  });

});


const dynamicDescription = document.getElementById("dynamic-description");
const dynamicBookcaseContainer = document.getElementById("dynamic-bookcase-container");
const dynamicButton = document.getElementById("dynamic-header-link");
const closeDynamic = document.getElementById("close-dynamic");

dynamicButton.addEventListener("click", () => {
  dynamicDescription.classList.remove("dynamic-description-active");
  dynamicDescription.classList.add("dynamic-description-inactive");
  dynamicBookcaseContainer.classList.remove("dynamic-bookcase-container-inactive");
  dynamicBookcaseContainer.classList.add("dynamic-bookcase-container-active");
});

closeDynamic.addEventListener("click", () => {
  dynamicDescription.classList.remove("dynamic-description-inactive");
  dynamicDescription.classList.add("dynamic-description-active");
  dynamicBookcaseContainer.classList.remove("dynamic-bookcase-container-active");
  dynamicBookcaseContainer.classList.add("dynamic-bookcase-container-inactive");
});

const verySmallGalleries = document.querySelectorAll(".very-small-gallery");
const galleries = document.querySelectorAll(".gallery");
const closeGallery = document.querySelectorAll(".close-gallery");

if (verySmallGalleries.length === galleries.length) {
  for (let i = 0; i < verySmallGalleries.length; i++) {
    verySmallGalleries[i].addEventListener("click", () => {
      verySmallGalleries[i].classList.remove("very-small-gallery-active");
      verySmallGalleries[i].classList.add("very-small-gallery-inactive");
      galleries[i].classList.remove("gallery-inactive");
      galleries[i].classList.add("gallery-active");
      closeGallery[i].classList.remove("close-inactive");
      closeGallery[i].classList.add("close-active");
    });
  }
} else {
  console.error("Mismatched number of elements: verySmallGalleries and galleries.");
}

for (let i = 0; i < closeGallery.length; i++) {
  closeGallery[i].addEventListener("click", () => {
    verySmallGalleries[i].classList.remove("very-small-gallery-inactive");
    verySmallGalleries[i].classList.add("very-small-gallery-active");
    galleries[i].classList.remove("gallery-active");
    galleries[i].classList.add("gallery-inactive");
    closeGallery[i].classList.remove("close-active");
    closeGallery[i].classList.add("close-inactive");
  });
}



</script>


{% endblock %}
