{% extends "base.html" %}
{% block title %}Edit Book{% endblock %}
{% block content %}
    <h2>Edit Book</h2>
    <form action="/bookcase/{{ current_bookcase.id }}/{{ book.id }}/edit_book/" method="post">
        <label for="book-title">Title</label>
        <input type="text" name="book-title" id="book-title" value="{{ book.title }}">
        <label type="text" for="book-subtitle">Subtitle</label>
        <input type="text" name="book-subtitle" id="book-subtitle" value="{{ book.subtitle }}">
        <label for="book-authors">Author</label>
        <input type="text" name="book-authors" id="book-authors" value="{{ book.authors }}">
        <label for="book-description">Description</label>
        <textarea name="book-description" id="book-description">{{ book.description }}</textarea>
        <label for="book-categories">Categories</label>
        <input type="text" name="book-categories" id="book-categories" value="{{ book.categories }}">
        <label for="book-publisher">Publisher</label>
        <input type="text" name="book-publisher" id="book-publisher" value="{{ book.publisher }}">
        <label for="book-publication-date">Published Date</label>
        <input type="text" name="book-publication-date" id="book-publication-date" value="{{ book.publication_date }}">
        <label for="book-isbn-13">ISBN-13</label>
        <input type="text" name="book-isbn-13" id="book-isbn-13" value="{{ book.isbn_13 }}">
        <label for="book-isbn-10">ISBN-10</label>
        <input type="text" name="book-isbn-10" id="book-isbn-10" value="{{ book.isbn_10 }}">
        <label for="book-language">Language</label>
        <input type="text" name="book-language" id="book-language" value="{{ book.language }}">
        <label for="book-pages">Page Count</label>
        <input type="text" name="book-pages" id="book-pages" value="{{ book.pages }}">
        <label for="book-user-rating">Your Rating</label>
        <input type="number" name="book-user-rating" id="book-user-rating" placeholder="Your Rating" value="{{ book.user_rating }}">
        <label for="book-read">Read</label>
        {% if book.read == "True" %}
        	<input type="checkbox" name="book-read" id="book-read" checked>
        {% else %}
            <input type="checkbox" name="book-read" id="book-read">
        {% endif %}
        <input type="submit" value="Save">
    </form>
{% endblock %}
