{% extends "base.html" %} {% block title %}Request Password Reset{% endblock %} {% block content
%}

<div class="reset-pass-box">
        <h2>Request Password Reset</h1>
        <p>Enter your <span class="bold-menu">email address</span> or <span class="bold-menu">username</span> and we'll send you a link to reset your password.</p>
        <form class="reset-pass-form" action="/forgot_password/" method="post">
            <label class="label-med" for="email-username">Email Address</label>
            <input type="text" name="email-username" id="email-username" placeholder="email or username" required>
            <button type="submit" class="home-button" id="req-reset-btn">Request Password Reset</button>
            <div class="container cancel-container">
                <button type="button" id="cancel-button" class="cancelbtn">Cancel</button>
            </div>
        </form>

</div>


{% endblock %}