{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="home-container">
  {# <h1 class="home-header">Bookcase Database</h1> #}
  <img id="logo-img" src="../static/images/bcdb-logo-full.png" alt="Bookcase Database Logo" class="home-logo" />
  <div class="home-content">
    <div class="home-content-item hc-left">
      <h2 class="home-h2">What is Bookcase Database?</h2>
      <p class="home-p">
        Bookcase Database is your go-to platform for effortless book organization, where you can create 
        customized virtual bookcases for your various interests and discover new titles through the 
        Google Books API. Elevate your reading experience by personalizing book details and notes, 
        making each bookcase a dynamic companion on your literary journey.
      </p>
    </div>
    <div class="home-content-item hc-right">
      <h2 class="home-h2">How do I use Bookcase Database?</h2>
      <p class="home-p">
        Getting started is a breeze! Create your first bookcase below, then simply start searching for 
        books to add. Have a rare book that's not in Google's database? No problem! There's an option to add 
        books manually inside each of your bookcases. Then click on each book to view and edit its details. 
        </p>
        <p class="home-p">
        <span class="bold-menu">Happy Reading!</span>
      </p>
    </div>
  </div>
  <!-- check if user is logged in -->
  {% if user.is_authenticated %}
  <div class="searchbar home-search">
    <form action="/bookcases/" method="post" class="create-bookcase home-form">
      <label for="bookcase-name">Create a Bookcase</label>
      <input
        type="text"
        name="bookcase-name"
        class="home-input"
        id="bookcase-name"
        placeholder="Bookcase Name"
        autocomplete="off"
        required
      />
      <button class="home-button" type="submit">Create</button>
    </form>
    <form action="/search/" class="home-search-form home-form" method="post">
      <label class="home-label" for="general-search">Search for a book!</label>
      <input
        class="home-input"
        type="text"
        placeholder="Search for books..."
        name="general-search"
        id="general-search"
        autocomplete="off"
        required
      />
      <button class="home-button" type="submit">Search</button>
    </form>
    <div class="spacer-div"></div>
  </div>
  {% else %}
  <!-- if not logged in, display link to register and login pages -->
  <h2 class="home-h2-signed-out">Create an account to get started!</h2>
  <div class="home-login-links">
    <a href="/register/" class="home-link">Register</a>
    <a href="/login/" class="home-link">Login</a>
  </div>
  {% endif %}
</div>
<script>
  sessionStorage.clear();
</script>

{% endblock %}
