{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}

<div class="login-container">
  <h1 class="login-h1">Login</h1>
  <form action="#" class="login-form" method="post">
    <div class="container login-container">
      <label for="username"><b>Username</b></label>
      <input
        type="text"
        placeholder="Enter Username"
        name="username"
        id="email"
        required
      />

      <label for="psw"><b>Password</b></label>
      <input
        type="password"
        placeholder="Enter Password"
        name="psw"
        id="psw"
        required
      />

      <button class="home-button" type="submit">Login</button>
      <label id="remember-me">
        <input
          class="checkbox"
          id="remember-checkbox"
          type="checkbox"
          checked="checked"
          name="remember"
        />
        Remember me
      </label>
    </div>

    <div class="container cancel-container">
      <button type="button" id="cancel-button" class="cancelbtn">Cancel</button>
      <span class="psw"
        ><a class="forgot-psw" href="#">Forgot password?</a></span
      >
    </div>
  </form>
</div>

<script>
  const rememberCheckbox = document.querySelector("#remember-checkbox");
  rememberCheckbox.checked = false;
</script>

{% endblock %}
