{% extends "base.html" %} {% block title %}Register{% endblock %} {% block
content %}

<div class="register-container">
  <h1 class="register-h1">Create New Account</h1>
  <form action="#" class="register-form" method="post">
    <div class="container register-container">
      <label for="username"><b>Username</b></label>
      <input
        type="text"
        placeholder="Enter Username"
        name="username"
        id="username"
        required
      />

      <label for="email"><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" id="email" />

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required />

      <label for="psw-repeat"><b>Confirm Password</b></label>
      <input
        type="password"
        placeholder="Confirm Password"
        name="psw-repeat"
        required
      />

      <button class="home-button" type="submit">Submit</button>

      <label id="newsletter">
        <input class="checkbox" type="checkbox" name="remember" /> Sign Up For
        Newsletter
      </label>
    </div>
    <div class="container cancel-container">
      <button type="button" id="cancel-button" class="cancelbtn">Cancel</button>
    </div>
  </form>
  
</div>
{% endblock %}
