{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

<div class="register-container">
    <h1>Register</h1>
    <form action="#" class="register-form" method="post">
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>

    <label for="email"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="email" id="email">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <label for="psw-repeat"><b>Repeat Password</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" required>

    <button type="submit">Submit</button>

    <label class="newsletter">
      <input type="checkbox" name="remember"> Sign Up For Newsletter
    </label>

  </div>
</form>
</div>
{% endblock %}