{% extends "base.html" %} {% block title %}Reset Password{% endblock %} {% block
content %} 

<div class="reset-pass-box">
    <h2>Enter New Password</h1>
    <form class="reset-pass-form" action="/reset_password/{{ user_id }}/{{ token }}" method="POST">
        <label for="password">New Password</label>
        <input type="password" name="password" id="password" required>
        <label for="password-confirm">Confirm Password</label>
        <input type="password" name="password-confirm" id="password-confirm" required>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
        
</div>

{% endblock %}
